// @ts-check
// Note: type annotations allow type checking and IDEs autocompletion

const lightCodeTheme = require('prism-react-renderer/themes/github');
const darkCodeTheme = require('prism-react-renderer/themes/dracula');

/** @type {import('@docusaurus/types').Config} */
const config = {
  title: 'M2Ko Docs',
  tagline: 'Docs are cool',
  url: 'https://docs.m2ko.net',
  baseUrl: '/',
  onBrokenLinks: 'throw',
  onBrokenMarkdownLinks: 'warn',
  favicon: 'img/favicon.ico',
  organizationName: 'loko-loko',
  projectName: 'm2ko-markdown-docs',

  plugins: [require.resolve('docusaurus-lunr-search')],

  presets: [
    [
      '@docusaurus/preset-classic',
      /** @type {import('@docusaurus/preset-classic').Options} */
      ({
        docs: {
          sidebarPath: require.resolve('./sidebars.js'),
          editUrl: 'https://gitlab.com/loko-loko/m2ko-markdown-docs/-/edit/master/',
        },
        theme: {
          customCss: require.resolve('./src/css/custom.css'),
        },
      }),
    ],
  ],

  themeConfig:
    /** @type {import('@docusaurus/preset-classic').ThemeConfig} */
    ({
      navbar: {
        title: 'M2Ko Docs',
        logo: {
          alt: 'Logo',
          src: 'img/logo.svg',
        },
        items: [
        {% for category in categories %}
          {
            type: 'doc',
            docId: '{{ category.index }}',
            position: 'left',
            label: '{{ category.name }}',
          },
        {% endfor %}
          {
            href: 'https://github.com/loko-loko',
            label: 'GitHub',
            position: 'right',
          },
          {
            href: 'https://gitlab.com/loko-loko',
            label: 'GitLab',
            position: 'right',
          },
        ],
      },
      footer: {
        style: 'dark',
        links: [
          {
            title: 'Docs',
            items: [
            {% for category in categories %}
              {
                label: '{{ category.name }}',
                to: '/docs/{{ category.index }}',
              },
            {% endfor %}
            ],
          },
          {
            title: 'Community',
            items: [
              {
                label: 'Stack Overflow',
                href: 'https://stackoverflow.com/questions/tagged/docusaurus',
              },
              {
                label: 'Discord',
                href: 'https://discordapp.com/invite/docusaurus',
              }
            ],
          },
          {
            title: 'More',
            items: [
              {
                href: 'https://github.com/loko-loko',
                label: 'GitHub',
              },
              {
                href: 'https://gitlab.com/loko-loko',
                label: 'GitLab',
              },
            ],
          },
        ],
        copyright: `Copyright © ${new Date().getFullYear()} M2Ko, Inc. Built with Docusaurus and Gitlab. Powered by Kubernetes`,
      },
      prism: {
        theme: lightCodeTheme,
        darkTheme: darkCodeTheme,
      },
    }),
};

module.exports = config;
